.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  background-color: azure;
  padding: 10%;
  border-radius: 25px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.container-chart {
  padding: 2px 16px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.login-form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  background-color: azure;
  padding: 2%;
  border-radius: 25px;
}

.chart-form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 155%;
  background-color: azure;
  padding: 10%;
  border-radius: 25px;
}

.home {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 120%;
  background-color: azure;
  padding: 12%;
  border-radius: 25px;
}

.container-home {
  padding: 2px 16px;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.chart-container {
  padding: 2px 16px;
  position: absolute;
  top: 55%;
  left: 43%;
  transform: translate(-50%, -50%);
}

.view-chart {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 200%;
  width: 120%;
  background-color: azure;
  padding: 10%;
  border-radius: 25px;
}

.float-container {
  border: 3px solid black;
  padding: 20px;
  display: flex;
  border-radius: 25px
}

.item-chart {
  width: 50%;
  float: left;
  padding: 20px;
}

h1, h4 {
  text-align:center;
}

.navbar {
  background: #ffffff;;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.header{
  font-size: 40px;
  font-family: serif;
}




